{{ define "main" }}
<!DOCTYPE html>
<html>
	<head>
		<title>{{ template "title" }}</title>
		<script src="/nextindiegame.js"></script>
		<link href="/nextindiegame.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			What's my next indie game?
		</header>
		<nav>
			<a href="/">Make me some games</a> | 
			<a href="/faq">What in the hell is happening here?</a>
			{{ if .Link }}
			| <a id="permalink" href="{{ .Link }}">420 nevar 4get</a>
			{{ end }}
		</nav>
		{{ template "content" . }}
		<footer>
		</footer>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-11164924-8', 'nextindiega.me');
  ga('send', 'pageview');

	</script>
	</body>
</html>
{{ end }}
