{{ define "title" }}Frequently Asked Questions{{ end }}

{{ define "content" }}
<section>
	<div class="faq-title">These game titles are super awesome! Can I use any for my next indie game?</div>
	<div class="faq-body">
		Hell yeah broseidon. We make these indie game titles for you and you alone.
		Think of us as your own personal marketing professionals. Would we ever seed you
		with bad ideas? Of couse not!
	</div>

	<div class="faq-title">How do you come up with these games?</div>
	<div class="faq-body">
		Every time you click that magic blue button, a request is sent over the Internet to our team
		of creative geniuses. They quickly get down to business, and after much brow-furrowing, they
		send you back an innovative and unique game idea, free of charge!
	</div>
</section>
{{ end }}
