{{ define "title" }}What's my next indie game?{{ end }}

{{ define "content" }}
<section>
	<div id="game">
		A {{ .Genre }} about {{ .Emotion }} in {{ .Fantasy }}
	</div>

	<div>
		<button href="#" id="generate-button" class="peter-river-flat-button">Hit me with another one, bro</button>
	</div>
	<div>
		<a id="permalink" href="{{ .Link }}">420 nevar 4get</a>
	</div>
</section>

<script>
	document.querySelector("#generate-button").addEventListener("click", ng.getNewGame, false);
</script>
{{ end }}
